.about {
    font-size: 24vw;
    padding: 0;
    margin: auto;
    color: #8396af;
    font-family: Oswald; 
}

.about-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-layout {
    display: flex;
}

.about-content {
    width: 40%;
    text-align: left;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.about-content p {
    text-align: justify;
}

.recent-techs {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.recent-techs ul{
    display: inline-block
}

.about-picture {
    margin-right: auto;
    width: 200px;
    display: flex;
    justify-content: center;
}


.about-picture img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 1165px){
    .about {
        font-size: 32vw;
    }
}

@media screen and (max-width: 810px) {
    .about-layout {
        display: inline-block;
    }

    .about-content {
        width: 80%;
    }

    .about-picture {
        padding-top: 20px;
        margin: 0 auto;
        width: 20%;
    }

    .about-container {
        top: -15.5%;
    }

    .about-picture {
        width: 150px;
    }
}

@media screen and (max-width: 580px) {
    .about-container {
        top: -3.5%;
    }
}