.home-container {
    height: 100vh;
    width: 100vw;

}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.open-column {
    float: left;
    width: 70%;
    height: 100vh;
    position: relative;
    transition: 0.5s;
}

.open-button-container {
    display: none;
}

.open-content {
    display: block;
}

.closed-content {
    display: none;
}

.closed-column {
    float: left;
    width: 10%;
    height: 100vh;
    position: relative;
    transition: 0.5s;
}

.closed-button-container {
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.closed-button-container button {
    height: 40px;
    width: 120px;
    font-size: 18pt;
    color: white;
    animation: buttonFade ease 0.8s;
    font-family: Oswald;
    font-weight: 500;
    padding-bottom: 5px;
    line-height: 28px;
}

.home-button {
    background:#666a86;
    border: 3px solid #565a72; 
}

.home-button:hover {
    background:#565a72;
}

.about-button {
    background:#788aa3;
    border: 3px solid #66768b;
}

.about-button:hover {
    background:#66768b;
}

.work-button {
    background: #92b6b1;
    border: 3px solid #7b9995;
}

.work-button:hover {
    background: #7b9995;
}

.contact-button {
    background: #b2c9ab;
    border: 3px solid #9aad95;
}

.contact-button:hover {
    background: #9aad95;
}

@keyframes buttonFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#home {
    background: #666a86;
}

#about {
    background: #788aa3;
}

#work {
    background: #92b6b1;
}

#contact {
    background: #b2c9ab;
}

@media screen and (max-width: 1400px){
    .closed-button-container button { 
        width: 100px;
    }
}