.contact {
    font-size: 24vw;
    padding: 0;
    margin: auto;
    font-family: Oswald; 
    color: #bfd6b8;
}

.contact-container {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    z-index: 1;
    font-family: Oswald; 
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.contact-container h1 {
    font-size: 32pt;
}

.contact-container p {
    font-size: 18pt;
    width: 50%;
    margin: 0 auto;
}

.contact-container button {
    padding: 10px 20px 10px 20px;
    border: 3px solid #9aad95;
    background: #b2c9ab;
    color: white;
    font-family: Oswald; 
    font-size: 12pt;
    cursor: pointer;
    margin-top: 45px;
}

.contact-container button:hover {
    background: #9aad95;
}

@media screen and (max-width: 1165px){ 
    .contact {
        font-size: 32vw;
    }
}

@media screen and (max-width: 768px) {
    .contact-container p {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .contact-container p {
        width: 100%;
    }
}
