#loading-animation {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    background: #ccc;
}



.container {
    max-width: 70vw;
    margin: 0 auto;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-container {
    height: 100vh;
}

.content-container {
    margin: 0 auto;
    position: relative;
    height:75%;
    top:12.5%;
    display: flex;
}

.animate__animated.animate__fadeInLeft{
    --animate-duration: 1s;
}
.animate__animated.animate__fadeInUp{
    --animate-duration: 2s;
}

.background-font {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.big-device {
    display: block;
}

.small-device{
    display: none;
}


@media screen and (max-width: 1165px){
    .container {
        max-width: 70vw !important;
    }
    
    .big-device {
        display: none;
    }

    .small-device {
        display: block;
    }
}

@media screen and (max-width: 580px) { 
    .container {
        max-width: 100vw !important;
    }
}