.container {
    max-width: 70vw;
    margin: 0 auto;
}

.page-container {
    height: 100vh;
}

.content-container {
    margin: 0 auto;
    position: relative;
    height:75%;
    top:12.5%;
    display: flex;
}

.animate__animated.animate__fadeInLeft{
    --animate-duration: 1s;
}
.animate__animated.animate__fadeInUp{
    --animate-duration: 2s;
}

.big-device {
    display: block;
}

.small-device{
    display: none;
}


@media screen and (max-width: 999px){
    .big-device {
        display: none;
    }

    .small-device {
        display: block;
    }

    .nav-links {
        display: block;
    }
}