.book {
    transform-style: preserve-3d;
    position: relative;
    height: 150px;
    cursor: pointer;
    backface-visibility: visible;
    animation: spin ease-in-out 1.2s;
    animation-delay: 1.2s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(720deg);
    }
}
  
.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}
  
.front {
    display: flex;
    justify-content: center;
    align-items: top;
}

.front, .back {
    background: url('./ocean.jpg') repeat;
}
  
.front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}
  
.back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}
  
.page1, .page2, .page5, .page6 { 
    background: #eceae3;
}
  
.page3 {
    background: #666a86;
}

.page4 {
    background: linear-gradient(to right,
    #666a86 20%, #666a86 20% 40%, #788aa3 40% 60%, #92b6b1 60% 80%, #b2c9ab 80%);
}  

/*  BOOK ANIMATION  */

.front {
    animation: frontAnim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes frontAnim {
    0% {
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-160deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    60% {
        transform: rotateY(-160deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-160deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
}


.page1 {
    animation: page1Anim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes page1Anim {
    0% {
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-150deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    60% {
        transform: rotateY(-150deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-150deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
}

.page2 {
    animation: page2Anim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes page2Anim {
    0% {
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-140deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    60% {
        transform: rotateY(-140deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-140deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
}

.page3 {
    animation: page3Anim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes page3Anim {
    0% {
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-130deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    60% {
        transform: rotateY(-130deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-130deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }

}

.page4 {
    animation: page4Anim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes page4Anim {
    0%{
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-50deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    60% {
        transform: rotateY(-50deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-50deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
}

.page5 {
    animation: page5Anim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes page5Anim {
    0%{
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-40deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    60% {
        transform: rotateY(-40deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-40deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
}

.page6 {
    animation: page6Anim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes page6Anim {
    0%{
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-30deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    60% {
        transform: rotateY(-30deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-30deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
}

.back {
    animation: backAnim ease-in-out 4s;
    animation-fill-mode: forwards;
}

@keyframes backAnim {
    0%{
        transform: rotateY(0deg) scale(1.1);
    } 
    40% {
        transform: rotateY(-20deg) scale(1.1);
    }
    60% {
        transform: rotateY(-20deg) scale(1.1);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
    100% {
        transform: rotateY(-20deg) scale(9);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    }
}


/* BOOK HOVER */

/* .book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
} 
  
.book:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
  
.book:hover .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
  
.book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
  
.book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
  
.book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
  
.book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
  
.book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
} */


@media screen and (max-width: 1165px){ 

    .book{
        animation-fill-mode: forwards;
    }

    @keyframes spin {
        from {
            transform: rotateZ(0deg);
        }
        to {
            transform: rotateZ(450deg);
        }
    }

    @keyframes frontAnim {
        0% {
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-160deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        60% {
            transform: rotateY(-160deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-160deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    }
    
    
    @keyframes page1Anim {
        0% {
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-150deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        60% {
            transform: rotateY(-150deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-150deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    }
    
    
    @keyframes page2Anim {
        0% {
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-140deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        60% {
            transform: rotateY(-140deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-140deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    }
    
    @keyframes page3Anim {
        0% {
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-130deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        60% {
            transform: rotateY(-130deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-130deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    
    }
    
    @keyframes page4Anim {
        0%{
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-50deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        60% {
            transform: rotateY(-50deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-50deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    }
    
    @keyframes page5Anim {
        0%{
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-40deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        60% {
            transform: rotateY(-40deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-40deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    }

    @keyframes page6Anim {
        0%{
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-30deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        60% {
            transform: rotateY(-30deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-30deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    }

    @keyframes backAnim {
        0%{
            transform: rotateY(0deg) scale(1.1);
        } 
        40% {
            transform: rotateY(-20deg) scale(1.1);
        }
        60% {
            transform: rotateY(-20deg) scale(1.1);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
        100% {
            transform: rotateY(-20deg) scale(12);
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
        }
    }
}