.work {
    font-size: 24vw;
    padding: 0;
    margin: auto;
    font-family: Oswald; 
    color: #9cc1bc;
}

.work-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.column-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 100px;
}

.grid-item {
    padding: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 1165px){ 
    .work {
        font-size: 32vw;
    }

}

@media screen and (max-width: 865px) { 
    .column-grid {
        display: grid;
        grid-template-columns: auto;
        padding: 0;
    }
}